<%- include('includes/header') %>

<link rel="stylesheet" text="text/css" href="/css/login.css" />

<body>
   <form 
      class="login_container" 
      action="/shop/login" 
      method="POST">
     <div class="login_frame" style="height: 460px">
       <div class="login_top">
          <span>Access to the Website</span>
          <div>
            Go Back: <a href="/shop" style="color: #6440fb">Home</a>
          </div>
          <p>
            Are you registered?: 
             <a href="/shop/signup" style="color: #6440fb">Sign up</a>
          </p>
       </div>

       <div class="login_input_frame">
          <div class="login_input_container">
            <label>Username:</label>
              <input 
                type="text" 
                name="mb_nick"
                placeholder="Username:"
                value=""
                required
              />
          </div>
          <div class="login_input_container">
            <label>Enter password:</label>
              <input 
                type="password"
                name="mb_password"
                placeholder="Enter password:"
                value=""
                required
              />
          </div>
        </div>
      <button class="login_btn btn" name="login" type="submit"> Enter </button>
    </div>
  </form>
</body>

<%- include('includes/footer') %>
