<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/login.css">

<body>
  <form
    onsubmit=" return validateSignUpForm()"
    action="/shop/signup"
    class="login_container"
    method="POST"
    enctype="multipart/form-data">

    <div class="login_frame" style="width: 650px; height: 730px;">
      <div class="login_top">
        <span>Registration</span>
        <div>Return to Home Page <a href="/shop" style="color: #6440fb">Home</a></div>
        <p>Not registered yet? <a href="/shop/login" style="color: #6440fb">Login</a></p>
      </div>

      <div class="sign_input_frame">

        <div class="sign_up_frame">
          <label for="">Username</label>
          <input 
            class="mb_nick" 
            type="text" 
            name="mb_nick"  
            placeholder="Username" 
            value="" 
            required
          >
        </div>

        <div class="sign_up_frame">
          <label for="">Phone number</label>
          <input 
            class="mb_phone" 
            type="text" 
            name="mb_phone"  
            placeholder="Phone number" 
            value="" 
            required
            >
        </div>

        <div></div>
      </div>
      <div class="sign_input_frame">
        <div class="sign_up_frame">
          <label for="">Password</label>
          <input 
            class="mb_password" 
            type="password" 
            name="mb_password"  
            placeholder="Password" 
            value="" 
            required
           >
        </div>

        <div class="sign_up_frame">
          <label for="">Re-enter the password </label>
          <input 
            class="mb_confirm_password" 
            type="password" 
            name="mb_confirm_password"  
            placeholder="Re-enter the password" 
            value="" 
            required
           >
        </div>

        <div></div>
      </div>

      <div class="login_input_frame">
        <div class="media_frame">
         <img class="upload_img_frame" src="/images/nature.jpg" alt="sign up images">
           <div class="upload_container">
            <span class="media_text">Store image</span>
              <div class="filebox bs3-primary preview-image">
                <input 
                  class="upload_name" 
                  type="text" 
                  value="Select picture" 
                  disabled="disabled"
                >
                <label for="input_file">Upload image</label>
              <input 
                type="file" 
                id="input_file" 
                name="shop_img"  
                placeholder="Select image" 
                class="upload-hidden form-control-file shop_img" >
            </div>

            <p class="thumbnail_desc">
                    Upload your store image here 
                <br>Important instructions: .jpg, .jpeg or .png 
                <br>There should be no text on the image
            </p>
           </div>
          </div>
         </div>
       <button 
            class="login_btn btn" 
            name="signup" 
            type="submit"
            >
            Registration
        </button>
     </div>
   </form>
</body>

<script>

  $(function(){

      let fileTarget = $(".filebox .upload-hidden ");
      let fileName;

      fileTarget.on('change', function(){
        if(window.FileReader){
          const uploading_file = $(this)[0].files[0];
          const fileType = uploading_file['type'];
          const validImageTypes = ['image/jpg', 'image/jpeg', 'image/png'];


          if(!validImageTypes.includes(fileType)){
              alert("Iltimos ruhsat etilgan formatdagi rasmlarni yuklang: jpg, jpeg va png");
          } else{
            if(uploading_file){
              console.log(URL.createObjectURL(uploading_file));
              $(".upload_img_frame")
                .attr("src", URL.createObjectURL(uploading_file))
                .addClass("success");
            }
            fileName = uploading_file.name;

          }
        }

        $(this).siblings(".upload_name").val(fileName);
      })
  });



  function validateSignUpForm(){
    const mb_nick = $(".mb_nick").val();
    const mb_phone = $(".mb_phone").val();
    const mb_password = $(".mb_password").val();
    const mb_confirm_password = $(".mb_confirm_password").val();
    const shop_img = $(".shop_img").get(0).files[0] ?? null;

if(
      mb_nick == "" ||
      mb_phone == "" ||
      mb_password == "" ||
      mb_confirm_password == ""
    )
    {
      alert("Please enter all information completely!");
      return false;
  } else if(mb_password !== mb_confirm_password){
      alert("Please enter the correct password!");
      return false;
  }
    if(! shop_img){
      alert("Please upload a picture!");
      return false;
    }

    return true;

  }


</script>

<%- include('includes/footer') %>