body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #eff0f4;
    background-image: url("/public/image/nature.jpg");
}

.container {
    position: relative;
    left: -80px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.container .drop {
    position: relative;
    width: 950px;
    height: 950px;
    box-shadow: inset 20px 20px 20px rgba(0,0,0,0.05),
    25px 35px 20px rgba(0,0,0,0.05),
    25px 35px 20px rgba(0,0,0,0.05),
    inset -20px -20px 25px rgba(255,255,255,0.9);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 52% 48% 33% 67% / 38% 45% 55% 62%;
}

.container .drop:hover {
    border-radius: 50%;
}

.container .drop::before {
    content: '';
    position: absolute;
    top: 72px;
    left: 252px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.9;
}

.container .drop::after {
    content: '';
    position: absolute;
    top: 90px;
    left: 202px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.9;
}

.container .drop .content {
    position: relative;
    display: flex;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    gap: 15px;
}


.container .drop .content .login_top {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.container .drop .content .login_top span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 22px;
}

.container .drop .content .login_top p {
    margin-top: 7px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
}

.container .drop .content .login_top div {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    margin-top: 6px;
    font-size: 15px;
    line-height: 22px;
}

.container .drop .content h2 {
    position: relative;
    color: #333;
    font-size: 1.5em;
}

.container .drop .content form {
    display: flex;
    flex-direction: column; 
    gap: 27px;
    justify-content: center;
    align-items: center;
}

.container .drop .content form .inputBox {
    position: relative;
    width: 225px;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.1),
    inset -2px -5px 10px rgba(255,255,255,1),
    15px 15px 10px rgba(0,0,0,0.05),
    15px 10px 15px rgba(0,0,0,0.25);
    border-radius: 24px;
}

.container .drop .content form .inputBox::before {
    position: absolute;
    content: '';
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    height: 5px;
    background: rgba(255,255,255,0.5);
    border-radius: 5px;
}

.container .drop .content form .inputBox input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 1em;
    padding: 10px 15px;
}

.container .drop .content form .inputBox input[type="submit"] {
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    cursor: pointer;
    letter-spacing: 0.1em;
    font-weight: 500;
}

.container .drop .content form .inputBox:last-child {
    width: 120px;
    background: #ff0f5b;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.1),
    15px 15px 10px rgba(0,0,0,0.05),
    15px 10px 15px rgba(0,0,0,0.25);
    transition: 0.5s;
}

.container .drop 
.content form 
.inputBox:last-child:hover {
    width: 150px;
}

.btns {
    position: absolute;
    right: -50px;
    bottom: 0;
    width: 203px;
    height: 190px;
    background: #c61dff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    line-height: 1.2em;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    transition: 0.25s;
    text-align: center;
    box-shadow: inset 10px 10px 10px rgba(1,180,255,0.05),
    15px 25px 10px rgba(1,180,255,0.1),
    25px 35px 20px rgba(1,180,255,0.1),
    inset -10px -10px 15px rgba(255,255,255,0.5);
    border-radius: 35% 66% 65% 35% / 57% 58% 42% 43%;
}

.btns:hover {
    border-radius: 50%;
}

.btns::before {
    content: '';
    position: absolute;
    top: 23px;
    left: 46px;
    width: 27px;
    height: 26px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.45;
}

.btns.signup {
    top: 574px;
    bottom: 150px;
    right: -86px;
    width: 143px;
    height: 145px;
    border-radius: 49% 51% 52% 48% / 63% 59% 41% 37%;
    background: #01b4ff;
    box-shadow: inset 10px 10px 10px rgba(1,180,255,0.05),
    15px 25px 10px rgba(1,180,255,0.1),
    25px 35px 20px rgba(1,180,255,0.1),
    inset -10px -10px 15px rgba(255,255,255,0.5);
}

.btns.signup::before {
    left: 40px;
    width: 15px;
    height: 15px;
}

.btns:hover {
    border-radius: 50%;
}

/* Signup css*/
.login_frame .sign_input_frame {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sign_input_frame .sign_up_frame {
    position: relative;
    margin-top: 15px;
    width: 49%;
    height: auto;

    display: flex;
    flex-direction: column;
}

.sign_up_frame label {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}

.sign_up_frame input {
   position: relative;
   margin-top: 1px;
   padding-left: 8px;
   width: 100%;
   height: 48px;
   background: #f6f5f5;
   border: 1px solid #dddddd;
   border-radius: 8px;
}
.media_frame {
    position: relative;
    margin-top: 15px;
    width: 100%;
    height: 250px;
    /* border: 1px solid red; */
    display: flex;
    flex: row;
    justify-content: space-between;
}

.media_frame .upload_img_frame {
    position: relative;
    width: 290px;
    height: 100%;
    display: flex;
    border-radius: 15px;
}

.media_frame .upload_container {
    position: relative;
    margin-left: 30px;
    width: 74%;
    height: 100%;
    display: flex;
    flex-direction: column ;
}

.media_text {
    font-family: "GT Walshiem Pro";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #140342;
}

.filebox {
    margin-top: 25px;
    display: flex;
    height: 55px;
}

.filebox input[type="file"]{
   position: relative;
   width: 1px;
   height: 1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   border: 0;
}

.filebox label {
    /* position: relative; */
    /* padding: 15px; */
    width: 135px;
    height: 55px;

    display: flex;
    justify-content: center;
    align-items: center;
    background: #50607a;
    border-radius: 0px, 8px, 8px, 0px;

    font-family: 'GT WAlsheim Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #ffffff;
}

.filebox .upload-name {
    position: relative;
    padding: 20px;
    width: 85%;
    height: 100%;

    display: flex;
    background: #eaebee;
   
    border: 1px solid #dddddd;
    border-radius: 8px, 0px, 0px, 8px;
}

.thumbnail_desc {
    height: 25px;
    /* margin-top: 0px; */
    font-family: "GT Walsheim Pro";
    font-style: normal;
    font-weight: 400;
    /* font: 85px; */
    font-size: 15px;
    line-height: 26px;
    color: #554bc3;
}

